body {
  min-height: 500px;
  text-align: center;
}
.todo-container {
    background: #f66;
    color: #fff;
    max-width: 500px;
    top: 50%;
    left: 50%;
    padding: 10px 0;
    margin: 50px auto;
}
.todo-button {
    padding: 10px 15px;
    border: none;
    background: #f66;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #ffffff;
    margin-left: 5px;
    cursor: pointer;
}
.todo-li {
    list-style: none;
    background: hsla(0, 100%, 100%, 0.27);
    padding: 15px;
    margin: 10px 0;
    cursor: pointer;
}
.todo-ul {
  margin: 0;
  padding: 15px 35px;
  text-align: left;
}
.todo-input {
    border: none;
    height: 34px;
    border-radius: 3px;
}